/*
    *= require cropper/cropper.min.css
    *= require assets/plugins/bootstrap-select2/select2.css
    *= require assets/plugins/jquery-datatable/css/jquery.dataTables.css
    *= require assets/plugins/datatables-responsive/css/datatables.responsive.css
    *= require assets/plugins/boostrap-checkbox/css/bootstrap-checkbox.css
    *= require assets/plugins/bootstrap-datepicker/css/datepicker.css
    *= require assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css
    *= require assets/plugins/bootstrap-tag/bootstrap-tagsinput.css
    *= require assets/css/style.css
    *= require assets/css/responsive.css
    *= require assets/css/custom-icon-set.css
*/